ion-content {
    position: relative;
    --background: linear-gradient(180deg, #92C5DA, #C1E4D3, #7EAEAE);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; // Alineación en columna para que los elementos se centren verticalmente
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
    .title {
        font-size: 2rem;
        margin: 0;
    }

    .subTitle {
        color: gray;
        font-size: 0.9rem;
    }
}

.bird-icon {
    margin-top: 60px;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;  // Permite que las imágenes se posicionen relativas al contenedor

    // Contenedor del círculo
    .circle {
        width: 400px;
        height: 400px;
      background: linear-gradient(170deg, #92C5DA, #F6FBEE, #F6FBEE);
      border-radius: 50%;           // Crea el círculo
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
      position: relative;           // Necesario para que .bosque se posicione dentro
    }

    // Otras imágenes que pueden sobrepasar el contenedor
    img:not(.bosque) {              // Solo afecta a las imágenes que no son .bosque
      position: absolute;           // Les permite sobrepasar los límites
      padding-top: 40px;
      padding-right: 40px;
      width: auto;
      height: auto;
      z-index: 10;
    }

    // Imagen del bosque contenida dentro del círculo
    .bosque {
      position: absolute;
      bottom: 0;                    // Fija la imagen en la parte inferior del círculo
      height: 40%;
      width: 73%;                  // Asegura que la imagen ocupe todo el ancho del círculo
      z-index: 1;                   // Para estar debajo de las otras imágenes si es necesario
      border-radius: 60%;
    }
  }

.ion-padding {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


ion-fab {
    position: absolute;
    bottom: 20px; // Ajusta el margen inferior según lo que necesites
    display: flex;
    width: 100%;
    justify-content: center;
}
ion-fab-button {
    color: gray;
    --background: linear-gradient(180deg,#C1E4D3, #7EAEAE);
    z-index: 10;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    max-height: 243px;
    width: 100%;
    position: absolute;
    bottom: 0;  
    z-index: 1;
    object-fit: none;
}