<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Perfil</ion-title>
    <p class="subTitle">Actualice su nombre de usuario</p>
  </div>
  <ion-button class="back-button" [routerLink]="['/home']">
    <ion-icon name="chevron-back"></ion-icon>
  </ion-button>
  <div class="bird-icon">
    <div class="circle">
      <img
        [src]="profileImage || 'assets/Bird-icon.png'"
        alt="Foto de Perfil"
        (click)="updateProfileImage()"
        class="profile-image"
      />
    </div>
  </div>

  <form [formGroup]="profileForm" (ngSubmit)="updateUserProfile()">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="displayName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <div class="button-container">
      <ion-button expand="block" type="submit">Actualizar Perfil</ion-button>
      <ion-button expand="block" color="danger" (click)="deleteUserProfile()">Eliminar Cuenta</ion-button>
      <ion-button expand="block" (click)="logout()" color="danger">Cerrar sesión</ion-button>
    </div>
  </form>

  <div class="plant-wrapper">
    <img src="assets/planta-izq.png" alt="Planta izquierda" class="plant-left" />
    <img src="assets/planta-der.png" alt="Planta derecha" class="plant-right" />
  </div>

</ion-content>
