<ion-content [fullscreen]="true">
  <div class="screen">
    <!-- Botón de regreso -->
    <ion-button class="back-button" [routerLink]="['/home']">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-button>

    <!-- Título -->
    <div class="header">
      <h1>Catálogo de Aves</h1>
    </div>

    <!-- Lista de aves -->
    <ion-list class="list">
      <ion-item 
        *ngFor="let bird of birds" 
        (click)="viewBirdDetails(bird)" 
        class="item-ave"
        lines="none">
        <!-- Imagen -->
        <ion-thumbnail class="thumbnail">
          <img [src]="bird.photo" alt="Imagen del ave" />
        </ion-thumbnail>
        <!-- Texto -->
        <ion-label>
          <h2>{{ bird.commonName }}</h2>
          <p>{{ bird.scientificName }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Plantas decorativas -->
    <div class="content-wrapper">
      <img src="assets/planta-izq.png" alt="Planta izquierda" class="planta" />
      <img src="assets/planta-der.png" alt="Planta derecha" class="planta" />
    </div>
  </div>
</ion-content>
